.imageContainer {
  background-image: url("/images/headshot-wide.jpg");
  height: 75vh;
  background-size: cover;
  background-position: 60% center;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 300ms;
}

.imageContainer:hover {
  opacity: 0.9;
}
