.toggle {
  font-weight: var(--weight-bolder);
  font-size: 0.9rem;
  padding-top: 0.33rem;
  padding-bottom: 0.33rem;
  border-radius: 5px;
  transition: 200ms;
  user-select: none;
  cursor: pointer;
}

.toggle :global .card-header,
.toggle :global .card-header text,
.toggle :global .card-header .icon {
  transition: 200ms;
  border: none;
}

.toggle :global .card-header:hover text,
.toggle :global .card-header:hover .icon {
  color: var(--color-muted);
}

.toggle :global .card-header aside {
  font-weight: var(--weight-bold);
}

.active {
  background-color: #fbfbfb;
  outline: 2px solid rgba(42, 96, 65, 0.5);
}

.inactive {
  background-color: #e2e2e2;
  outline: 1px solid #d5d5d5;
}

.icon {
  transition: transform 0.2s ease-in-out;
}

.rotating {
  transform: rotate(-180deg);
}
