@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-family: "Rubik", sans-serif;
  background-color: #efefef;
}

a {
  color: #2a6041;
  transition: 250ms;
  font-weight: 400;
}

a:hover {
  color: #28965a;
}

blockquote {
  color: rgb(100, 100, 100);
  padding-left: 1.5rem;
  border-left: solid;
}

blockquote p {
  color: rgb(100, 100, 100);
}

p,
div,
span {
  color: #070707;
}

footer {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: rgb(100, 100, 100);
  font-weight: lighter;
  font-size: smaller;
}

footer a {
  color: rgb(100, 100, 100);
}

footer a:hover {
  color: #070707;
}

.brand {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #070707 !important;
}

.brand:hover {
  color: rgb(100, 100, 100) !important;
  transition: 250ms;
}

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 300ms;
}

.grayscale:hover {
  opacity: 0.9;
}

.half-opaque {
  transition: 300ms;
  opacity: 0.5;
}

.link-muted {
  text-decoration: none;
  color: rgb(100, 100, 100);
}

.link-muted:hover {
  color: #070707;
}

.media-link {
  font-size: 1.2rem;
  color: #070707;
  cursor: pointer;
}

.media-link:hover {
  color: rgb(100, 100, 100);
  transition: 250ms;
}

.navbar {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.nav-item {
  font-weight: 500;
}

.news-item-meta {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.page-content-header,
.work-sidebar-container h6 {
  line-height: 1.5rem;
}

.shadowed {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.showcase {
  transition: 300ms;
}

.showcase:hover {
  transform: translate(0, -10px);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.sub-brand {
  font-weight: 300;
  margin-left: 12px;
  color: rgb(100, 100, 100);
  text-transform: none;
}

.work-content-container .btn {
  width: 100%;
  display: none;
}

@media screen and (max-width: 576px) {
  .showcase {
    filter: brightness(100%) !important;
  }

  .showcase:hover {
    transform: none;
    box-shadow: none;
  }
}

@media screen and (max-width: 768px) {
  .brand {
    font-size: 1.5rem;
  }

  .navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .news-item-meta {
    justify-content: left;
    width: auto;
  }

  .news-item-meta span {
    margin-right: 8px;
  }

  .sub-brand {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .work-content-container .btn {
    display: block;
  }

  .work-sidebar-container {
    display: none;
  }
}
