@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;0,600;1,400;1,600&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Urbanist", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.brand,
.nav-item {
  font-size: 1.75rem;
}

.front-image {
  width: 100%;
  min-height: 100vh;
  background-image: url("/images/front.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center right;
  border-radius: 0;
  display: flex;
  padding-bottom: 18px;
}

.play-icon-container {
  height: auto;
  margin-top: auto;
}

.play-icon {
  color: darkgray;
  font-size: 4.5rem;
  cursor: pointer;
}

.play-icon:hover {
  color: lightgray;
}

.full-screen {
  width: 950px;
  height: 100vh;
}

.btn-close {
  background-color: red;
}
