.background {
  position: relative;
  min-height: 100vh;
  padding: 0;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/images/bklyn-1.jpeg);
  background-color: #525056;
  background-blend-mode: lighten;
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  filter: brightness(0.66) saturate(0.5) contrast(1.25);
}

.featuredText {
  font-size: 1.25rem;
  margin-bottom: 3rem;
}

.inside {
  --color-text: #efefef;
  --color-muted: #b5b5b5;
  position: relative; /* Stack on top of the home-background::before */
  user-select: none;
  color: var(--color-text);
}

.inside :global .brand:hover {
  color: var(--color-muted) !important;
}

.inside :global .btn-outline-secondary:hover {
  border-color: var(--color-text) !important;
  background-color: var(--color-text) !important;
  color: black !important;
}

.inside :global .main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.inside :global .main a {
  color: var(--color-text);
}

.inside :global .main a:hover {
  color: var(--color-muted);
}

.inside :global .text-muted {
  color: var(--color-muted) !important;
}

@media screen and (max-width: 1200px) {
  .background::before {
    background-position: left top !important;
  }
}

@media screen and (max-width: 992px) {
  .background::before {
    background-size: 166% !important;
    background-position: 75% bottom !important;
    background-color: #606270;
  }
}

@media screen and (max-width: 768px) {
  .background::before {
    background-position: 75% top !important;
  }

  .featuredText {
    font-size: 1rem;
  }
}
